div(class="form-group")
    label(for="username", class="col-sm-2 control-label") Username
    div(class="col-sm-10")
        input(type="text", ng-model="user.username", class="form-control", id="username", placeholder="Username")
div(class="form-group")
    label(for="email", class="col-sm-2 control-label") Email
    div(class="col-sm-10")
        input(type="email", ng-model="user.email", class="form-control", id="email", placeholder="Email")
div(class="form-group")
    div(class="col-sm-offset-2 col-sm-10")
        input(class="btn btn-primary", ng-click="ok()", value="Save")
        input(class="btn btn-warning", ng-click="cancel()", value="Cancel")