doctype html
html(data-ng-app="WordsCat")
    head
        link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        meta(name="msapplication-TileColor", content="#603cba")
        meta(name="msapplication-TileImage", content="/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")
        title WordsCat
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/css/main.css", rel="stylesheet", media="screen")
        base(href="/")
    body
        nav(class="navbar navbar-default", role="navigation")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", ui-sref="home") WordsCat
                div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                    ui(class="nav navbar-nav")
                        li(ui-sref-active="active")
                            a(ui-sref="home") Home
                        li(ui-sref-active="active")
                            a(ui-sref="users.list") Users
                        li(ui-sref-active="active")
                            a(ui-sref="words") Words
        div(class="container")
            ui-view
        script(src="/jquery/dist/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/js/scripts.js")

