div(class="row")
    a(ui-sref="users.new", class="btn btn-primary") Add New User
    a(ng-click="createModal()", class="btn btn-primary") Add New User (modal)
div(class="row")
    table(class="table")
        tr
            th Id
            th Username
            th Email
            th Created
            th Updated
            th Actions
        tr(ng-repeat="user in users")
            td {{user.id}}
            td
                a(ui-sref="users.view({id:user.id})") {{user.username}}
            td {{user.email}}
            td {{user.created}}
            td {{user.updated}}
            td
                a(class="btn btn-primary", ui-sref="users.view({id:user.id})") View
                a(class="btn btn-primary", ui-sref="users.edit({id:user.id})") Edit
                a(class="btn btn-primary", ng-click="editModal({id:user.id})") Edit (modal)
                a(class="btn btn-danger", ng-click="delete(user.id)") Delete